div {
  color: whitesmoke;
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  background: linear-gradient(to right, forestgreen , teal, aqua);
}

input {
  color: white;
  font-size: medium;
}

.search-container {
  color: whitesmoke;
  position :relative;
  top: 350px;
  left: 500px;
}
.search-container input,
.search-container .suggestions {
  font-size: medium;
  
  
}
.search-container input {
  background: linear-gradient(to right, forestgreen , teal, aqua);
  color: white;
  font-size: large;
}
.search-container .suggestions {

}

option {
  background-color: darkcyan;
  color: whitesmoke;
}
#fruit {
  color: whitesmoke;
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input#fruit{
   color:white;
}

button {
  border-radius : 8px;
  padding: 10px;
  background-color: blue;
  color: whitesmoke;
}